.header {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 42px;
  background-color: #35363a;
  margin-bottom: 20px;
  padding: 5px 0;

  &__title {
    display: inline-flex;
    margin: 0;
    font-size: 16px;
    text-align: center;
  }
}