.button {
    display: inline-flex;
    background: rgba(0,0,0,.07);
    border-radius: 4px;
    border: none;
    padding: 10px 15px;
    color: white;
    text-decoration: none;
    cursor: pointer;
}