.rooms {
    flex-grow: 1;
    list-style: none;
    padding: 10px;
    margin: 0;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;

    &__item {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        transition: background-color 0.2s;

        &:hover a {
            background-color: #606060;
        }

        a {
            position: relative;
            display: block;
            width: 100%;
            background-color: #4f4f4f;
            border-radius: 3px;
            padding: 5px 10px;
            text-decoration: none;
            cursor: pointer;
            transition: border-radius 0.6s 0.3s;

            &:after {
                content: "";
                position: absolute;
                top: 0;
                left: 100%;
                width: 0;
                height: 100%;
                background-color: #606060;
                transition: width 0.3s;
                
            }

            &.active {
                background-color: #606060;
                border-radius: 3px 0 0 3px;
                transition: border-radius 0s;

                &:after {
                    width: 15px;
                }
            }   
        }
    }
}