.navigation {
  padding: 5px;
}

.navigation__list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation__list-item {

}