* {
  box-sizing: border-box;
}

html {
  height: 100%;
  height: -webkit-fill-available;
}

html, body {
  width: 100vw;
  background-color: #35363a;
  margin: 0;
  padding: 0;
  font-family: Arial, serif, Georgia, Tahoma;
}

body {
  height: 100%;
  height: -webkit-fill-available;
}

#root {
  display: flex;
  width: 100%;
  height: 100%;
}

a {
  color: white;
}